*{
    margin: 0;
    padding: 0;
    
}

.container{
    max-width: 1400px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  
}

header{
background-color: #987070;
height: 291px;
}
header .content{
    display: flex;
    justify-content: flex-end;
    padding-top: 180px;
    
}
header .icon{
margin-left: 10px;
border-radius: 50%;
background-color:#F1E5D1;
height: 56px;
width:56px
}
body{
    background-color: #C39898;
}
.body{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 10px;
   
}

.user-info{
    margin-left: 132px;
    margin-top: -120px;
    justify-items: center;   
    margin-left: 5px;
   
    
}


.user-info .photo{
    width: 226px;
    height: 226px;
    background-color: #F1E5D1;
    border-radius: 16px;
    

}
.user-info .info{
    font-size: 30px;
    
    padding-left: 0;
    padding-left: 15px;
}
.info .name{
    font-weight: 700;
}
.info .number{
    font-weight: 400;
    padding-left: 2px;
}

.block1 .t{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: -432px;
    
    
}
.t1{margin-top: 30px;
    width: 280px;
    height: 50px;
    background-color: #DBB5B5;
    border-radius: 16px;
}
.t2{
    margin-top: 30px;
    width: 120px;
    height: 50px;
    background-color: #DBB5B5;
    border-radius: 16px;
}
.t3{
    width: 100%;
    height: 250px;
    background-color: #DBB5B5;
    border-radius: 16px;
    margin-top: 20px;
}

.block2 .t{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.block2 .t1{

    width: 250px;
    height: 80px;
    background-color: #DBB5B5;
    border-radius: 16px;
}
.block2 .t2{

    width: 500px;
    height: 80px;
    background-color: #DBB5B5;
    border-radius: 16px;
}

.line{
    display: flex;
    height: 400px;
    width: 1px;
    background-color: #F1E5D1;
    margin-left: -30px;
    margin-top: 30px;
}